vertexai==1.70.0
google-cloud-documentai==2.33.0
google-cloud-storage==2.18.2
llama-index==0.11.17
llama-index-readers-file==0.2.2
llama-index-retrievers-bm25==0.4.0
llama-index-vector-stores-elasticsearch==0.3.3
langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.10
langchain-elasticsearch==0.3.0
langchain-google-vertexai==2.0.5
langchain-google-genai==2.0.1
langchain-google-community==2.0.1
langchain-text-splitters==0.3.0
sentence-transformers==3.2.0
pypdf==4.3.1
openpyxl==3.1.5
docassemble==1.5.16
docling==2.4.0
docx2python==3.0.2
pdfplumber==0.11.4
tabula-py==2.10.0
pypdf-table-extraction==0.0.2
pymupdf==1.24.14
pymupdf4llm==0.0.17
lxml==5.3.0
dspy-ai==2.5.12
# instructor==0.5.2
outlines==0.0.46
colbert-ai==0.2.19
ragas==0.2.1
deepeval==0.21.57
vllm==0.5.0.post1
rouge-score==0.1.2
bert-score==0.3.13
faiss-cpu==1.9.0
faiss-gpu==1.7.1
pinecone==5.3.1
trl==0.11.4
peft==0.12.0
bertopic==0.16.3
ipython==8.27.0
hdbscan==0.8.38.post2
umap-learn==0.5.6
onnx==1.16.2
jupyterlab==4.2.5
jupyter-server==2.14.2
spacy==3.7.5
deepspeed==0.15.1
bokeh==3.5.2
mysql-connector-python==9.0.0
unstructured==0.15.13
pytesseract==0.3.13
impala==0.2.0
boto3<=1.35.54
sacrebleu==2.4.0
s3fs<=2024.10.0
dask==2024.10.0
elasticsearch==8.16.0
evaluate==0.4.3
giskard[llm]==2.14.0
evidently==0.4.37
pytest==2.6.0
