vertexai==1.71.1
google-cloud-documentai==3.0.1
google-cloud-storage==2.19.0
llama-index==0.12.7
llama-index-readers-file==0.4.1
llama-index-retrievers-bm25==0.5.0
llama-index-vector-stores-elasticsearch==0.3.3
llama-index-vector-stores-faiss==0.1.2
langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-elasticsearch==0.3.0
langchain-google-vertexai==2.0.9
langchain-google-genai==2.0.7
langchain-google-community==2.0.3
langchain-text-splitters==0.3.4
sentence-transformers==3.3.1
pypdf==5.1.0
openpyxl==3.1.5
docassemble==1.6.0
docling==2.12.0
docx2python==3.3.0
pdfplumber==0.11.4
tabula-py==2.10.0
# pypdf-table-extraction==0.0.2
pymupdf==1.25.1
pymupdf4llm==0.0.17
lxml==5.3.0
dspy-ai==2.5.43
instructor==1.7.0
outlines==0.1.7
colbert-ai==0.2.21
ragas==0.2.6
deepeval==2.0.1
rouge-score==0.1.2
bert-score==0.3.13
faiss-cpu==1.9.0
# faiss-gpu==1.7.1
pinecone==5.4.1
trl==0.12.2
peft==0.14.0
bitsandbytes==0.45.0
bertopic==0.16.4
ipython==8.31.0
hdbscan==0.8.40
umap-learn==0.5.7
onnx==1.17.0
jupyterlab==4.3.4
# jupyter-server==2.14.2
spacy==3.7.5
deepspeed==0.16.0
bokeh==3.6.2
mysql-connector-python==9.1.0
unstructured==0.16.11
pytesseract==0.3.13
impala==0.2.0
boto3<=1.35.54
sacrebleu==2.4.3
s3fs<=2024.10.0
dask==2024.12.1
elasticsearch==8.17.0
evaluate==0.4.3
# giskard[llm]==2.14.0
evidently==0.4.37
pytest==4.0.0
tritonclient==2.51.0
