vertexai==1.70.0
google-cloud-documentai==2.33.0
llama-index==0.11.17
llama-index-readers-file==0.2.2
llama-index-retrievers-bm25==0.4.0
langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.10
langchain-google-vertexai==2.0.5
langchain-google-genai==2.0.1
langchain-google-community==2.0.1
langchain-text-splitters==0.3.0
sentence-transformers==3.2.0
pypdf==4.3.1
openpyxl==3.1.5
docassemble==1.5.16
dspy-ai==2.5.12
# instructor==1.5.1
outlines==0.0.46
colbert-ai==0.2.19
ragas==0.2.1
deepeval==0.21.57
vllm==0.5.0.post1
rouge-score==0.1.2
bert-score==0.3.13
faiss-cpu==1.9.0
pinecone==5.3.1
trl==0.11.4
peft==0.12.0
bertopic==0.16.3
ipython==8.27.0
hdbscan==0.8.38.post2
umap-learn==0.5.6
onnx==1.16.2
jupyterlab==4.2.5
jupyter-server==2.14.2
spacy==3.7.6
deepspeed==0.15.1
